body {
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(204, 224, 204);
}

.nav-link:hover {
    color:rgb(109, 143, 109) !important;
}
.navbar {
    border-radius: 100px;
}

.nav {
    border-radius: 10px;
    padding: 0px 120px 0px 120px;
}


.card {
    background-color:rgb(204, 224, 204);
}

.container img {
    border-radius: 15px;
    size: 10px;
    
}

.card-list a {
    list-style-type: none;
    color: black;
}

a:hover {
    color:rgb(109, 143, 109);
}
